.main-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 15px;
}
.cart{
    position: sticky;
    top: 10px;
}
.info-container{  
    margin: 40px 0;
}
.cart{
    margin: 40px 0;
}
.spent-time{
    background: rgba(96, 71, 236, 0.1);
border: 1px solid #6047EC;
border-radius: 8px;
padding: 21px 50px ;
margin-bottom: 24px;
}
.spent-time p{   
font-weight: 700;
font-size: 24px;
color: #6047EC;
}
.add-cart{
    background: rgba(17, 17, 17, 0.05);
border-radius: 8px;
padding: 30px;
margin-bottom: 16px;
}
.add-cart h1{    
font-weight: 700;
font-size: 24px;
color: #111111;
}

.question{
    background: rgba(17, 17, 17, 0.05);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* responsive start  */
@media screen and (max-width:576px) {
    .main-container{
        display: flex;
         flex-direction: column;
        gap: 10px;
    }
   
}